.search {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.mat-form-field {
    margin-right: 5px;
}

.form-field {
    width: 30%;
}

.spinner {
    width: 60%;
    position: fixed;
    top: 54%;
    left: 58%;
    transform: translate(-50%, -50%);
}